@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Lexend:wght@100..900&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap');

.cart-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 120px 70px;
    font-family: Poppins, sans-serif;
}

.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 70px;
    max-width: 65%;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 30px;
}

.cart-title{
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: center;
    z-index: 10;
}

.cart-item{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 400px;
    gap: 20px;
}

.cart-item-image{
    width: 150px;
    height: 160px;
    border-radius: 10px;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.btn{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    display: block;           
    width: fit-content;
}

.cart-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    gap: 150px;
    border-radius: 10px;
}

.cart-total-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-total-order-summary{
    font-weight: 700;
    font-size: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
