@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Lexend:wght@100..900&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap');

.product-detail-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 120px 70px;
    font-family: Poppins, sans-serif;
}

.product-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 50px 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.product-detail-image{
    width: 500px;
    border: 2px solid rgb(237, 237, 237)
}
.product-detail-info{
    margin-top: 50px;
    display: flex;
    width: 650px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.product-detail-description{
    font-size: 20px;
}

.product-detail-price{
    font-size: 20px;
    color:rgb(42, 182, 0);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.btn{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: block;           
    width: fit-content;
}

.btn3{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size:16px;
    display: block;           
    width: fit-content;
}

.product-detail-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 10px;
    padding: 20px 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.highlights, .reviews {
    background-color: #f0f0f0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
  }
  
  .highlights h2, .reviews h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  
  .highlights ul {
    padding-left: 20px;
  }
  
  .highlights li {
    margin-bottom: 8px;
    line-height: 1.6;
  }
  
  .reviews .review-item {
    margin-bottom: 15px;
  }
  
  .reviews .review-item strong {
    display: block;
    color: #111;
    margin-bottom: 5px;
  }
  
  .reviews .review-item p {
    margin: 0;
    line-height: 1.5;
    color: #444;
  }
  