@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Lexend:wght@100..900&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap');

.orders-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
}

.order {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 1200px;
    margin-bottom: 40px;
}

.product {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 50%;
}

.order-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.order-title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.order-description {
    font-size: 16px;
    color: #555;
}

.order-price {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 20px 30px;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 12px;
    width: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.transaction {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    padding-bottom: 50px;
    width: 90%;
    align-items: flex-start;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.transaction-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 200px;
    font-weight: 600;
    color: #444;
}
